<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-teal-200 [&>p>strong]:font-semibold text-pretty">

        <p>
            Soy diseñador web con más de 5 años de experiencia, <strong>orientado al desarrollo
            de sitios en Wordpress</strong>.
        </p>
        <p>
            Ocupé cargos de responsabilidad en empresas de
            Retailing como <strong>diseñador y analista en Marketing</strong>, actualmente trabajando de
            manera independiente. Me considero una persona organizada, con buena
            comunicación y resolutivo.
        </p>
        <p>
            Aspiro a poder cooperar con pequeñas y medianas empresas con el fin de dar
            valor a su marca, siempre preparado para nuevos desafíos.
        </p>
        
    </div>
    <img src="/me.webp" alt="Foto de Diego Lescano" class="rounded-full size-56">
</article>